body {
  background-color: white
}

h1 {
  color: navy;
  margin-left: 20px;
}
p {
  margin-left: 20px;
}

.activity-item {
  background-color: rgb(19, 139, 190);
  color: white;
}

.photo {
  width: 100%;
  height: auto;
  max-width: 400px;
}
